<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find ankbot_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="true"/>

  <include file="$(find ankbot_bringup)/launch/ankbot_remote.launch"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find ankbot_navigation)/launch/amcl.launch"/>

  <!-- ekf_localization-->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find ankbot_navigation)/param_test/ekf.yaml"  />
    <remap from="odometry/filtered" to="odom"/>
  </node> 

  <!-- move_base -->
  <include file="$(find ankbot_navigation)/launch/move_base_test.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find ankbot_navigation)/rviz/ankbot_navigation.rviz"/>
  </group>

  <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher"/>
  <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher" />
</launch>
